.popup {
    display: none;
    position: fixed;
    padding: 10px;
    width: 280px;
    left: 50%;
    margin-left: -150px;
    height: 180px;
    top: 50%;
    margin-top: -100px;
    background: #D8C3A5;
    border: 3px solid #39739d;
    z-index: 20;
  }
  
  #popup:after {
    position: fixed;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0.5);
    z-index: -2;
  }
  
  #popup:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #FFF;
    z-index: -1;
  }

  .weightPop {
    display: none;
    position: fixed;
    padding: 10px;
    width: 280px;
    left: 50%;
    margin-left: -150px;
    height: 180px;
    top: 50%;
    margin-top: -100px;
    background: #FFF;
    border: 3px solid #39739d;
    z-index: 20;
  }
  
  #weightPop:after {
    position: fixed;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0.5);
    z-index: -2;
  }
  
  #weightPop:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #FFF;
    z-index: -1;
  }
  
  .historyPop {
    display: none;
    position: fixed;
    padding: 10px;
    width: 280px;
    left: 50%;
    margin-left: -150px;
    height: 180px;
    top: 50%;
    margin-top: -100px;
    background: #FFF;
    border: 3px solid #39739d;
    z-index: 20;
  }
  
  #historyPop:after {
    position: fixed;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0.5);
    z-index: -2;
  }
  
  #historyPop:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #FFF;
    z-index: -1;
  }
  /* Styling buttons & webpage */
  
  body {
    font-family: Arial, sans-serif;
    text-align: center;
    height: 852pt;
  }

  tr {
    font-size: 20px;
  }

  .screen {
    margin:auto;
    background-color: lightsteelblue;
    height: 852pt;
    width: 393pt;
    border-radius: 50px;
    position: relative;
  }
  
  .title {
    padding-top:70px;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #131111
  }

  .addButton {
    padding-bottom: 45px;
  }

  .addExercise {
    margin-top: 50px;
    background-color: #e1ecf4;
    border: 3px solid #7aa7c7;
    color: #39739d;
    font-size: 25px;
    padding: 10px 20px;
  }
  
  .chart {
    margin: auto;
    text-align: center;
    height: 535pt;
    width: 340pt;
    overflow-y: auto;
    background-color: antiquewhite;
    border-radius: 10px;
  }

  #prTable {
    margin:auto;
    max-height: 500px;
  }

  .prHeaders {
    padding: 20px;
    font-size: 23px;
  }

  .nav {
    position: absolute;
    bottom: 2%;
    left: 5%
  }

#workButton {
  background-image: url(../Icons/icons8-gym-50.png);
  background-repeat: no-repeat;
  background-position: center;
  padding:12px;
  height: 60px;
  width: 90px;
  background-color: #e1ecf4;
  border-radius: 3px;
  border: 1px solid #7aa7c7;
  box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #39739d;
}

#profButton {
  background-image: url(../Icons/icons8-customer-50.png);
  background-repeat: no-repeat;
  background-position: center;
  padding:12px;
  height: 60px;
  width: 90px;
  background-color: #e1ecf4;
  border-radius: 3px;
  border: 1px solid #7aa7c7;
  box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #39739d;
}

#nutriButton {
  background-image: url(../Icons/icons8-diary-50.png);
  background-repeat: no-repeat;
  background-position: center;
  padding:12px;
  height: 60px;
  width: 90px;
  background-color: #e1ecf4;
  border-radius: 3px;
  border: 1px solid #7aa7c7;
  box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #39739d;
}

#trackButton {
  background-image: url(../Icons/icons8-progress-50.png);
  background-repeat: no-repeat;
  background-position: center;
  padding:12px;
  height: 60px;
  width: 90px;
  background-color: #e1ecf4;
  border-radius: 3px;
  border: 1px solid #7aa7c7;
  box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #39739d;
}

#homeButton {
  background-image: url(../Icons/icons8-home-48.png);
  background-repeat: no-repeat;
  background-position: center;
  padding:12px;
  height: 60px;
  width: 90px;
  background-color: #e1ecf4;
  border-radius: 3px;
  border: 1px solid #7aa7c7;
  box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #39739d;
}

p {
    margin: 1em 0;
  font-size: 16px;
}
  